<!--one-->
<div class="container">
  <img src="assets/images/bg1.jpg" alt="image">

  <ul>
    <tr>
      <td > <li style="vertical-align: text-top;"><a href="#home">HOME</a></li></td>
      <td><li style="vertical-align: text-top;"><a href="#">PHOTOAPP</a></li></td>
      <td > <li><a href="#"><img style="top: 12%;" src="assets/images/camwhite.jpg"></a></li></td>
      <td><li style="vertical-align: text-top;"><a href="#design">DESIGN</a></li></td>
      <td> <li style="vertical-align: text-top;"><a href="#download">DOWNLOAD</a></li>
      </td>
    </tr>
  </ul>


  <div class="centered">
    <h1 style="letter-spacing: 3px;">YOUR LIFE , A PHOTO</h1>
    <div style="letter-spacing: 2px; margin-top: 32px;">
      print your life in a simple photo
    </div>

    <input style="margin:40px" type="image" src="assets/images/get-Started.jpg" />
  </div>

  <div class="icons">
    <span><input style="padding: 5px;" type="image" src="assets/images/twitter.png" /></span>
    <span><input  style="padding: 5px;" type="image" src="assets/images/flck.png" /></span>
    <span><input style="padding: 5px;" type="image" src="assets/images/dri.png" /></span>
  </div>
</div>



<!--Two-->
<div class="container1">
  <img src="assets/images/hand.jpg" alt="image">

  <div  class="left-align">
    <div style="color:rgb(17, 185, 115); font-weight: bold; letter-spacing: 3px; line-height: 20px;">
      RAPPRESENT YOUR LIFE WITH A<BR> SIMPLE PHOTO
    </div>

    <div style="margin-top: 40px; line-height: 25px; color: rgb(95, 95, 95); font-size: 12px;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Amet voluptatum aliquam molestias quibusdam repellat magni culpa officia laborum.<br> Maxime praesentium <b>reprehenderit, quidem minima</b> sed deleniti<br> repellat laudantium voluptatem suscipit et<br>repellat magni culpa officia laborum.
    </div>

    <div style="margin-top: 20px;">
      <input style="margin-top:20px" type="image" src="assets/images/get-Started.jpg" />
    </div>

  </div>
</div>


<!--Three-->
<div class="container1">
  <img src="assets/images/phone.jpg" alt="image">

  <div  class="right-align">
    <div style="color:rgb(17, 185, 115); font-weight: bold; letter-spacing: 3px;">
      DESIGN
    </div>

    <div style="margin-top: 40px; line-height: 25px;  font-size: 12px;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Amet voluptatum aliquam molestias quibusdam repellat magni culpa officia laborum.<br> Maxime praesentium <b>reprehenderit, quidem minima</b> sed deleniti<br> repellat laudantium voluptatem suscipit et<br>repellat magni culpa officia laborum.
    </div>

    <div style="margin-top: 20px;">
      <input style="margin-top:20px" type="image" src="assets/images/learnmore.jpg" />
    </div>

    <div style="margin-top: 30px; color: black;">
      01/05
    </div>

    <div style="margin-top: 10px;">
      <span > <input  type="image" src="assets/images/3left.jpg" /></span>
      <span style="padding: 5px;"> <input  type="image" src="assets/images/3right.png" /></span>
    </div>

  </div>
</div>


<!--Four-->
<div class="container1">
  <img src="assets/images/4bg.jpg" alt="image">

  <table class="centered">
    <tr>
      <th style="padding: 10px; width: 250px;"></th>
      <th></th>
      <th style="text-align: right;">
        <span style="padding: 5px;"><input  type="image" src="assets/images/4left.png" /></span>
        <span style="padding: 5px;"><input  type="image" src="assets/images/4right.png" /></span>
      </th>
    </tr>
    <tr>
      <td  style="padding: 10px;">
        <div style=" width: 300px;">
         <img src="assets/images/camgreen.jpg" alt="image">
         <p><b>OUR COMMUNITY</b></p>
         <p style="font-size: 12px; line-height: 20px;">Lorem, ipsum dolor sit amet<br> consectetur adipisicing elit.<br>Voluptates laborum atque</p>
        </div>
      </td>
      <td style="padding: 10px;"> <img src="assets/images/car.jpg" alt="image"></td>
      <td style="padding: 10px;"> <img src="assets/images/leaves.jpg" alt="image"></td>
    </tr>
  </table>
</div>


<!--Five-->
<div class="container1">
  <img src="assets/images/girl.jpg" alt="image">
  <div  class="centered">

      <div style="letter-spacing: 3px; color: white; font-size: 20px; font-weight: bold;">SUBSCRIBE TO US COMMUNITY</div>


      <table style="font-size: 0; border-collapse: collapse; margin: 30px auto;">
        <tr style="padding: 0;">
          <th  style="padding: 0;"></th>
          <th  style="padding: 0;"></th>
        </tr>
        <tr style="padding: 0;">
          <td  style="padding: 0;"><input style="height: 55px; width: 250px; font-size: 15px; letter-spacing: 3px; text-indent: 12px;" type="email"  placeholder="YOUR EMAIL"></td>
          <td  style="padding: 0;"><input type="image" src="assets/images/go.jpg" /></td>
        </tr>
      </table>
  </div>
</div>


<!--Six-->
<div  class="container1">
  <img src="assets/images/4bg.jpg" alt="image">
  <div class="downloadit">

    <div style="font-size: 20px; font-weight: bold;">
      DOWNLOAD IT
    </div>

    <div  style="line-height: 25px; margin-top: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Voluptatem iusto saepe voluptate unde facere cum quis porro quia beatae sunt assumenda laborum,consectetur,
        ipsum excepturi obcaecati et quam ratione vitae.
        dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>

    <div style="margin-top: 40px;">
      <span style="padding: 20px;"><input  type="image" src="assets/images/applestore.jpg" /></span>
      <span ><input  type="image" src="assets/images/playstore.jpg" /></span>
    </div>

  </div>
</div>


<!--Seven-->
<div  class="container1">
  <img src="assets/images/footer.jpg" alt="image">
  <div  class="footer1" style="line-height: 20px;">
    <span><a href="#">CREDITS</a></span>
    <span style="color:rgb(17, 185, 115); font-weight: bold; padding: 10PX;">|</span>
    <span><a href="#">PRIVACY</a></span>
    <span style="color:rgb(17, 185, 115); font-weight: bold; padding: 10PX;" >|</span>
    <span><a href="#">OUR TERMS</a></span>
    <p ><b>Copyright by phototime - all right reserved</b></p>
  </div>

  <div  class="footer2">
    <img src="assets/images/camfooter.png" alt="image">
  </div>
</div>
